name: Test

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - .editorconfig
      - .gitignore
      - .markdownlint.yaml
      - .trunk/**
      - LICENSE
      - README.md
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  test:
    name: Test

    permissions:
      id-token: write
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch Git tags
        run: git fetch --force --tags

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: 2.3.2 # datasource=github-releases depName=goreleaser/goreleaser
          args: build --clean --snapshot --single-target --output freelens-k8s-proxy

      - name: Test binary
        run: |
          ./freelens-k8s-proxy version | grep gitVersion
